table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #f75151;
    text-align: left;
    padding: 8px;
    
}
 #hang{
background-color: #3a3a3d;
 }   
